:root{
    --primary-color: #f46138;
}

.main h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);
}

.quanly {
    background-color: white;
    height: 100%;
}

.quanly-menu-items {
    padding: 28px;
    background-color: #f8f8fa;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;
}

.quanly-menu-items::after {
    content: '';
    position: absolute;
    top: 50%; 
    right: 0;
    height: 50%;
    border-right: 1px solid #ccc;
    transform: translateY(-50%);
}

.quanly-menu-items:last-child::after {
    border-right: none;
}

.quanly-menu-items i {
    font-size: 22px;
    margin-right: 5px;
    color: #a2a1a1;
}

.icon1.active1 .bi {
    color: rgb(58, 170, 251); 
}

.icon2.active1 .bi {
    color: green; 
}

.icon3.active1 .bi {
    color: orange; 
}

.icon4.active1 .bi {
    color: red; 
}


.quanly-menu-items:hover {
    cursor: pointer;
}

.active1 {
    /* border-bottom: 3px solid #f46138;
    background-color: #fff8f3; */
    border-top: 3px solid red;
    background-color: #fff5f7;
    cursor: pointer;
}

.quanly-submenu {
    justify-content: space-between;
    align-items: center;
}

.quanly-search {
    width: 400px;
}

.quanly-table {
    overflow-x: auto;
}

@media(max-width: 599px) {
    .quanly-submenu {
        flex-direction: column;
        
    } 

    .btnExport {
        margin-bottom: 10px;
    }

    .quanly-search {
        width: 100%;
    }
}

.form-label {
    font-weight: 600;
}

.btnSearch {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btnSearch:hover {
    border: 1px solid orange;
    background-color: var(--primary-color);
    color: white;
}


/* table */

table {
    font-size: 14px;
}

.mauxanh {
    color: rgb(26, 165, 165);
}

.trangthai {
    font-size: 13px;
    background-color: rgb(55, 130, 180);
    font-weight: 600;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.trangthai-thanhcong {
    font-size: 13px;
    background-color: rgb(53, 162, 66);
    font-weight: 600;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.trangthai-danggiao {
    font-size: 13px;
    background-color: rgb(231, 129, 70);
    font-weight: 600;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.trangthai-choxacnhan {
    font-size: 13px;
    background-color: rgb(122, 118, 118);
    font-weight: 600;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.trangthai-dahuy {
    font-size: 13px;
    background-color: rgb(213, 68, 68);
    font-weight: 600;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}





